{% extends "layout.html" %}

{% block main %}

	<div class="w3-display-container w3-container">
		<img src="static/images/tlo1.jpg" style="width:100%;">
		<div class="w3-display-topleft w3-text-white" style="padding:0px 48px">
			<h1 class="w3-jumbo">Nowe produkty</h1>
			<p><a href="{{url_for('pokaz_kategorie', kategoria='nowosci')}}" class="w3-button w3-black w3-padding-large w3-large">KUP TERAZ</a></p>
		</div>
	</div>

	<div class="w3-container w3-text-grey">
		<p>BEST SELLERS</p>
	</div>

	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>	
	
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>
	
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>	
	
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>
		
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>	
	
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>

	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>	
	
	<div class="w3-container w3-left" style="width:25%">
		<a href="#"><img src="../static/images/pxxl001.png" style="width:100%"></a>
        <p><span class="w3-text-grey">Umpa Lumpa</span><br><b>199.99 zł</b></p>
    </div>
	
	<div style="clear:left"></div>
	
{% endblock %}

  
 
