{% extends "layout.html" %}

{% block main %}
<div class="w3-padding-64 w3-light-grey" style="padding:100px;">
	<div class="w3-row-padding">
		{% if error: %}
		<div class="w3-col s6 w3-white" style="padding:18px 40px 40px 40px">
			<div class="w3-text-red">ZŁY EMAIL LUB HASŁO</div>
		{% else: %}
		<div class="w3-col s6 w3-white" style="padding:40px">
		{% endif %}
			<p class="w3-small w3-text-grey w3-right">* pola wymagane</p>
			<h2>Zaloguj się</h2>
			<form action="{{url_for('logging')}}" method="post">
				<p><label class="w3-text-grey">E-mail*</label>
				<input class="w3-input w3-border" style="font-family: FontAwesome;" type="text" placeholder="&#xF003;" name="email" required></p>
				<p><label class="w3-text-grey">Hasło*</label>
				<input class="w3-input w3-border" style="font-family: FontAwesome;" type="password" placeholder="&#xF023" name="haslo" required></p>
				<button type="submit" class="w3-button w3-block w3-black">Zaloguj się</button>
			</form>
		</div>

		<div class="w3-col s6" style="padding:40px;">
			<h3>Nie masz jeszcze konta w <b>TOYS WORLD</b>?</h3>
			<a href="{{url_for('rejestracja')}}" class="w3-button w3-block w3-dark-grey w3-text-white">Załóż konto</a>
			<div class="w3-small w3-text-dark-grey" style="margin-top:30px;">
				<i class="fa fa-truck w3-large"></i> Darmowa dostawa do sklepu stacjonarnego</br>
				<i class="fa fa-rocket w3-large"></i> Możliwość expresowej dostawy</br>
				<i class="fa fa-calendar-check-o w3-large"></i> 30 dni na zwrot zamówienia
			</div>
		</div>
	</div>
</div>
{% endblock %}